<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h4><%= subtitle %></h4>

    <table>
        <% users.foreach(user => { %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.lastname %></td>
                <td><%= user.ssn %></td>
            </tr>
         <% }) %>
    </table>
</body>
</html>